DB_HOST=
DB_PORT=
DB_USER=
DB_PASS=
DB_NAME=

GOOGLE_APPLICATION_CREDENTIALS=

EMPLOYEE_SERVICE=
DIGITAL_SERVICE=
MASTER_DATA_SERVICE=
CONTRACT_SERVICE=
ENTITLEMENT_SERVICE=

GCS_PROJECT_ID=
GBS_STORAGE_BUKET=

DEFAULT_DATA_CREATED_BY=
DEFAULT_DATA_CREATED_NAME=

TOPIC_CUSTOMER_ORDER_UPDATED=
TOPIC_LOAN_ORDER_UPDATED=
TOPIC_CUSTOMER_ORDER_NOTIFICATION=